#image-square {
  background:white;
  height:100vh;
  position:fixed;
  top:0px;
  width:50%;
  z-index:1;
  transition:right 1s;

  & > img {
    height:100%;
    position:absolute;
    transition:opacity 1s;
    width:100%;
    z-index:1;
  }

  & > img.hide {
    opacity:0;
  }

  & > img.show {
    opacity:1;
  }
}

.delivery-text {
  color:white;
  left:50%;
  position:absolute;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
  z-index: 100;

  .title-text {
    font: {
      size:50px;
      weight:600;
    }
  }

  .sub {
    font-size:18px;
    margin-top:20px;
  }
}

@media (max-width:1070px) {
  #image-square {
    display:none;
  }
}