.darker-on-hover-or-click:hover {

  &:hover {
    cursor:pointer;
    filter:brightness(90%);
  }

  &:active {
    filter:brightness(80%);
  }

}

.orange_on_hover:hover {

  &:hover {
    cursor:pointer;
    color:var(--main-orange);
  }
  
  &:active {
    opacity:.6;
  }

}