* {
  box-sizing:border-box;
  font-family:arial;
  margin:0px;
}

:root {
  --light-black:#333;
  --main-background-color:#f7f7f7;
  --darker-gray:#808080b2;
  --light-gray:#dbdbdb;
  --main-orange:#FF6700;
}

body {
  background:var(--main-background-color);
}

button {
  cursor:pointer;
}

//DIRECTIONS
.flex-row, .flex-column {
  display:flex;
}

.flex-row {
  flex-direction:row;
}

.flex-column {
  flex-direction:column;
}

.block {
  display:block;
}

//REMOVE POSSIBILITY OF SELECT AN ELEMENT
.not-able-to-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}