.container-of-product-quantity {
  align-items:center;
  border:1px solid gray;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  width:120px;
  padding:10px;
}

@media (max-width:565px) {
  .container-of-product-quantity {
    width:80px;
  }
}