.add-to-card-button {
  background:var(--main-orange);
  border:none;
  border-radius:6px;
  box-shadow:1px 1px 5px gray;
  color:white;
  font-weight:600;
  margin:15px 0px;
  padding:10px;
  width:90%;
}